body {
	font-family: "Raleway", "Helvetica", sans-serif;
  color: #1B3249;
}

h1{
	font-weight: 600;
}

b {
  font-weight: 600;
}

.center{
	text-align: center;
}

#cc-photo{
	width: 90%;
	box-shadow: 3px 3px 15px #888888;
}

.padding{
	padding-top: 50px;
}

/* HAUT DU SITE */
.header {
    position: fixed;
}

#position{
  margin-top: 30px;

}

.btn-color{
	background-color: #19D38F;
	color: #ffffff;
	transition: border-radius 2s, border-color 1s;
}

.btn-color:hover {
	background-color: #1FF8A9;
	color: #ffffff;
	transition: all 0.3s;
}

/*#proto-img {
	width: 80%;
	box-shadow: 3px 3px 15px #888888;
	border-radius: 10px;
	margin-top: 20px;

}*/

#logo {
  width: 110px;
}

/*TRANSITION IMAGE*/

#anim {
  position:relative;

}

#anim img {
  width: 80%;
  box-shadow: 3px 3px 15px #888888;
  border-radius: 10px;
  margin-top: 20px;
  position:absolute;
}

#anim img {
  animation-name: animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}

#anim img:nth-of-type(1) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

#anim img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay:  6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

#anim img:nth-of-type(3) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}



@keyframes animation {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  33% {
    opacity:0;
  }
  83% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



/* CORPS DU SITE */

.infos{
	margin-top: 130px;
}

.infos h2{
	font-weight: 600;
}



/* Footer du site */

#footer {
	color: #222222;
	padding-top: 6em;
	padding-bottom: 3em;

}

#footer a {
	color: #19D38F;
}

#footer a:hover {
	color:#1FF8A9;
}

.social {
	font-size: 20px;
}
